<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="test_path" value="C:\Users\JONATHAN\SpanishTest\Data" />
    <add key="verb_favourites" value="ser,estar,dar,oir,salir" />
  </appSettings>
</configuration>